
<ion-content>

  <div class="header">

      <div class="logo">
        <img src="assets/icon/C-removebg-preview.png" alt="logo">
      </div>
      <br><br>
          <h1>Accede a tu cuenta</h1>
          

  </div>
  
<div class="wrapper">

    <ion-item>
      <ion-label position="floating">Correo electr&oacute;nico</ion-label>
      <ion-input type="email" ></ion-input>
    </ion-item>
<br>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
<br><br><br>
<a href="/registro">¿No tienes una cuenta?  Reg&iacute;strate aqu&iacute;</a>
<br><br><br>
<ion-button expand="full" shape="round" routerLink="/principal">Acceder</ion-button>
</div>
</ion-content>