<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="nuevaTarea.titulo" placeholder="Ingrese el título de la tarea"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="nuevaTarea.descripcion" placeholder="Ingrese la descripción de la tarea"></ion-input>
    </ion-item>
  </ion-list>
  

  <ion-button expand="full" routeLink="/tareas">Agregar</ion-button>

  
</ion-content>
